button{
   background-color: yellow;
   font-size: 20px;
    border-radius: 6px;
    color: blue;
}
h2{
    font-size: 35px;
    color: blue;
    margin-left: 20px;
    padding-bottom: 5px;
 }
 form{
    font-size: 20px;
    margin-left: 20px;
    padding-bottom: 15px;
 }